@import "tailwindcss";

:root {

  /* 컬러 시스템 사용 */
  /* COLOR */
  --background: #ffffff;
  --foreground: #171717;
  --color-slate-9: #0F172A;
  --color-slate-8: #1E293B;
  --color-slate-5: #64748B;
  --color-slate-4: #94A3B8;
  --color-slate-3: #CBD5E1;
  --color-slate-2: #E2E8F0;
  --color-slate-1: #F1F5F9;

  --color-violet-6: #7C3AED;
  --color-violet-1: #EDE9FE;

   --color-rese-5: #F43F5E;
   --color-lime-3: #BEF264;
   --color-amber-8: #92400E;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nanum: var(--font-nanum-square);
  --color-slate-9 : var( --color-slate-9)
  --color-slate-8 : var( --color-slate-8)
  --color-slate-5 : var( --color-slate-5)
  --color-slate-4 : var( --color-slate-4)
  --color-slate-3 : var( --color-slate-3)
  --color-slate-2 : var( --color-slate-2)
  --color-slate-1 : var( --color-slate-1)
  --color-violet-6 : var(--color-violet-6)
  --color-violet-1 : var(--color-violet-1)
  --color-rese-5 : var(--color-rese-5)
  --color-lime-3 : var(--color-lime-3)
  --color-amber-8 : var(  --colo-amber-8)
}

/* 폰트 시스템 사용 */
@layer base {
  .text-bold-2xl {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-nanum-square);
  }
   .text-bold-xl {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-nanum-square);
  }
   .text-bold-base {
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-nanum-square);
  }
   .text-base {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-nanum-square);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(), sans-serif;
}
